<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		{% block meta %}{% endblock %}
		<title>{%block title %} ? {% endblock %} Welcome</title>
		<link rel="stylesheet" href="/static/css/uikit.min.css">
	    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
	    <link rel="stylesheet" href="/static/css/awesome.css" />
	    <script src="/static/js/jquery.min.js"></script>
	    <script src="/static/js/sha1.min.js"></script>
	    <script src="/static/js/uikit.min.js"></script>
	    <script src="/static/js/sticky.min.js"></script>
	    <script src="/static/js/vue.min.js"></script>
		<script src="/static/js/awesome.js"></script>
		<script src="/static/js/jszip.min.js"></script>
		{% block beforehead %} {% endblock %}
	</head>
	<body>
		<!--Define navigator -->
		<nav class="uk-navbar uk-navbar-attached uk-margin-bottom">
			<!--Division-->
			<div class="uk-container uk-container-center">
				<!--anchor: hyperlink-->
				<a href="/" class="uk-navbar-brand">Home</a>
				<!--unordered list-->
				<ul class="uk-navbar-nav">
					<!--<i> Define character italic-->
					<li data-url="blogs"><a href="/"><i class="uk-icon-home"></i> Blog</a></li>
					<li><a target="_blank" href="https://www.liaoxuefeng.com/wiki/0014316089557264a6b348958f449949df42a6d3a2e542c000/001432170876125c96f6cc10717484baea0c6da9bee2be4000"><i class="uk-icon-book"></i> Tutorial</a></li>
					<li><a target="_blank" href="https://github.com/longquanli/Personal-Blog"><i class="uk-icon-code"></i> Source code</a></li>
				</ul>
				<!--Define Administer-->
				<div class="uk-navbar-flip">
					<ul class="uk-navbar-nav">
						{% if __user__ %}
							<li class="uk-parent" data-uk-dropdown>
								<a href="#0"><i class="uk-icon-user"></i> {{__user__.name}}</a>
								<div class="uk-dropdown uk-dropdown-navbar">
									<ul class="uk-nav uk-nav-navbar">
										<li><a href="/signout"><i class="uk-icon-sign-out"></i> Signout</a></li>
										<li><a href="/manage/blogs/create"><i class="uk-icon-plus-circle"></i> New Blog</a></li>
										<li><a href="/manage/blogs"><i class="uk-icon-cogs"></i> Management</a></li>
										<li><a href="/management/audios"><i class="uk-icon-volume-up"></i> ASR Audios</a></li>
									</ul>
								</div>
							</li>
						{% else %}
							<li><a href="/signin"><i class="uk-icon-sign-in"></i> Signin</a></li>
							<li><a href="/register"><i class="uk-icon-edit"></i> Register</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>

		<div class="uk-container uk-container-center">
			<div class="uk-grid">
				<!-- content -->
					{% block content %}
					{% endblock %}
			</div>
		</div>

		<div class="uk-margin-large-top" style="background-color:#eee; border-top:1px solid #ccc;">
			<div class="uk-container uk-container-center uk-text-center">
				<div class="uk-panel uk-margin-top uk-margin-bottom">
					<!--Define paragraph-->
					<p>
						<a target="_blank" href="https://github.com/longquanli" class="uk-icon-button uk-icon-github"></a>
						<a target="_blank" href="https://linkedin.com/in/longquan-li" class="uk-icon-button uk-icon-linkedin-square"></a>
						<a target="_blank" href="mailto:mr.llq@outlook.com" class="uk-icon-button uk-icon-envelope-o"></a>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
